apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: hellospring
  name: deployment-hellospring
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: app-hellospring
  replicas: 2
  template:
    metadata:
      labels:
        app.kubernetes.io/name: app-hellospring
    spec:
      containers:
      - image: hwanghs111/node-todo-list:latest
        imagePullPolicy: Always
        name: app-hellospring
        ports:
        - containerPort: 8080
